<div class={[
  "chat",
  case {@message.in_thread, @message.from == @current_session.id} do
    {true, true} -> "mr-3"
    {true, _} -> "ml-3"
    {_, true} -> "chat-end"
    {_, _} -> "chat-start"
  end
]} dir={[
  if @message.from == @current_session.id && @message.in_thread do
    "rtl"
  else
    "ltr"
  end
]}>
  <div class={[
    "chat-bubble",
    if @message.from == @current_session.id do
      "chat-bubble-neutral"
    else
      "chat-bubble-primary"
    end
  ]}>
    <p
      data-message={if @message.from == @current_session.id, do: "from", else: "to"}
      data-converted="false"
      id={"chat-message-#{@message.id}"}
      class={[
        "text-sm text-left break-word w-max max-w-[calc(100vw-62px)] sm:max-w-[450px] font-normal hidden",
        if @message.from == @current_session.id do
          "text-zinc-50"
        else
          "text-zinc-900"
        end
      ]}
    >
      {if @message.from == @current_session.id,
        do: @message.text_from,
        else: @message.text_to}&lrm;
    </p>
  </div>
</div>
