@import "tailwindcss";

@plugin "@tailwindcss/forms";
@plugin "flowbite/plugin";
@plugin "flowbite-typography";

@source "../js/**/*.js";
@source "../../lib/privee_web.ex";
@source "../../lib/privee_web/**/*.*ex";
@source "../node_modules/flowbite";

@theme {
  --colors-brand: #08875d;
  --colors-brand-dark: #0d9c6c;
}

@custom-variant phx-no-feedback ([".phx-no-feedback&", ".phx-no-feedback &"]);
@custom-variant phx-click-loading ([".phx-click-loading&", ".phx-click-loading &"]);
@custom-variant phx-submit-loading ([".phx-submit-loading&", ".phx-submit-loading &"]);
@custom-variant phx-change-loading ([".phx-change-loading&", ".phx-change-loading &"]);

@custom-variant dark (&:where(.dark, .dark *));

/* This file is for your main application CSS */

.dark {
  background-color: #191919;
}
