<ul
  tabindex="0"
  class="dropdown-content menu bg-base-100 rounded-box z-[1] w-72 sm:w-96 p-2 shadow-lg border"
>
  <li class="menu-title">
    <span class="text-base font-medium text-base-content">
      {@current_session.session_name}
    </span>
  </li>
  
  <li>
    <a
      id="copy-session-code-btn"
      data-session-name={@current_session.session_name}
      data-action="code"
      aria-label="copy-session-name"
      class="flex items-center gap-2"
    >
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 8v3a1 1 0 0 1-1 1H5m11 4h2a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1h-7a1 1 0 0 0-1 1v1m4 3v10a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1v-9a1 1 0 0 1 1-1h2m4-3a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1h-3a1 1 0 0 1-1-1V8Z"
        />
      </svg>
      Copy session code
    </a>
  </li>

  <li>
    <a
      id="copy-session-url-btn"
      data-session-name={@current_session.session_name}
      data-action="url"
      aria-label="copy-session-url"
      class="flex items-center gap-2"
    >
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M13.213 9.787a3.391 3.391 0 0 0-4.795 0l-3.425 3.426a3.39 3.39 0 0 0 4.795 4.794l.321-.304m-.321-4.49a3.39 3.39 0 0 0 4.795 0l3.424-3.426a3.39 3.39 0 0 0-4.794-4.795l-1.028.961"
        />
      </svg>
      Copy session URL
    </a>
  </li>

  <div class="divider"></div>

  <li>
    <.link
      href={~p"/sessions/log_out"}
      method="delete"
      class="flex items-center gap-2 text-error"
    >
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M20 12H8m12 0-4 4m4-4-4-4M9 4H7a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h2"
        />
      </svg>
      Sign out
    </.link>
  </li>
</ul>