<div dir={[
  if @message.from == @current_session.id do
    "rtl"
  else
    "ltr"
  end
]}>
  <div class="px-3 py-0.5">
    <div class={[
      "flex flex-col w-max min-w-[100px] sm:max-w-[500px] leading-1.5 px-5 py-3 border-gray-200 rounded-e-2xl rounded-ss-2xl",
      if @message.from == @current_session.id do
        "bg-gradient-to-r from-green-800 via-green-900 to-green-900 hover:bg-gradient-to-br"
      else
        "bg-gradient-to-l from-gray-800 via-gray-800 to-gray-700 hover:bg-gradient-to-tl"
      end
    ]}>
      <p class="text-sm text-left break-word w-max max-w-[calc(100vw-62px)] sm:max-w-[450px] font-normal text-zinc-50">
        <%= @message.text %>
      </p>
    </div>
  </div>
</div>
