<div id="chat-screen-container" phx-update="stream">
  <div :for={{dom_id, message} <- @streams.messages} id={dom_id} class="mb-0">
    <.chat_entry message={message} current_session={@current_session} />
  </div>
</div>
