<div>
  <.input id="chat-ciphertext" type="hidden" field={@form[:ciphertext]} />
  <.input id="chat-header" type="hidden" field={@form[:header]} />
  <.input
    id="chat-text"
    field={@form[:text]}
    phx-debounce="blur"
    placeholder="Write your message here"
  />
</div>
