<section class="flex flex-col h-[calc(100vh-80px)] justify-between">
  <.header class="h-10 pt-5 pb-10 text-center">
    <%= @selected_session_name %>
  </.header>
  <main id="chat-screen" class="flex-grow overflow-auto" phx-hook="ChatScreen">
    <.chat_screen
      current_session={@current_session}
      selected_session={@selected_session}
      messages={@messages}
    />
  </main>
  <footer class="px-5 py-5">
    <.simple_form
      for={@form}
      id="privee_form"
      phx-change="validate"
      phx-submit="create"
      class="space-y-4"
    >
      <.input type="hidden" field={@form[:from]} value={@current_session.id} />

      <.input type="hidden" field={@form[:to]} value={@selected_session.id} />

      <.chat_input form={@form} />
    </.simple_form>
  </footer>
</section>
