<section class="flex flex-col h-[calc(100vh-80px)] justify-between">
  <.header class="h-10 pt-5 pb-10 text-center">
    <%= @selected_session %>
  </.header>
  <main class="flex-grow overflow-auto">
    <.chat_screen />
  </main>
  <footer class="px-5 py-5">
    <.simple_form
      for={@form}
      id="privee_form"
      phx-change="validate"
      phx-submit="create"
      class="space-y-4"
    >
      <.chat_input form={@form} />
    </.simple_form>
  </footer>
</section>
