<Layouts.app
  flash={@flash}
  current_session={@current_session}
  navigate_to={@navigate_to}
  locale={@locale}
>
  <div class="mx-auto sm:max-w-sm md:max-w-md">
    <.header class="text-center">
      {lgettext(@locale, "Sign in to existing session")}
      <:subtitle>
        {lgettext(@locale, "Don't have a session?")}
        <.link
          navigate={~p"/"}
          class="font-semibold text-brand dark:text-brand-dark hover:underline"
        >
          {lgettext(@locale, "Create a new one")}
        </.link>
      </:subtitle>
    </.header>

    <.simple_form for={@form} id="login_form" action={~p"/sessions/log_in"} phx-change="validate">
      <.input
        field={@form[:session_name]}
        type="text"
        label={lgettext(@locale, "Session Name")}
        placeholder={lgettext(@locale, "Write your session name.")}
        phx-debounce="500"
        required
      />
      <.input
        field={@form[:recovery_phrase]}
        type="textarea"
        label={lgettext(@locale, "Recovery phrase")}
        placeholder={lgettext(@locale, "Your citation.")}
        rows="5"
        phx-debounce="1000"
        required
      />
      <:actions>
        <.input
          field={@form[:remember_me]}
          type="checkbox"
          label={lgettext(@locale, "Keep me logged in")}
        />
      </:actions>

      <:actions>
        <.button phx-disable-with={lgettext(@locale, "Signing in...")} class="w-full">
          {lgettext(@locale, "Sign in")} <span aria-hidden="true">→</span>
        </.button>
      </:actions>
    </.simple_form>
  </div>
</Layouts.app>
