<div class="mx-auto sm:max-w-sm md:max-w-md">
  <.header class="text-center">
    Create a new session
    <:subtitle>
      You want to reconnect with an existing session?
      <.link
        navigate={~p"/"}
        class="font-semibold text-brand dark:text-brand-dark hover:underline"
      >
        Sign in
      </.link>
      to your account now.
    </:subtitle>

    <:description>
      To register a session, you have to define a <strong>Session Name</strong>, a series of alphanumeric characters
      divided by hyphens with a minimum length of 24 characters, and a recovery phrase, that can contain only
      alphabetic character, spaces and punctuation.
    </:description>
  </.header>

  <.simple_form
    for={@form}
    id="registration_form"
    phx-submit="save"
    phx-change="validate"
    phx-trigger-action={@trigger_submit}
    action={~p"/sessions/log_in?_action=registered"}
    method="post"
    phx-hook="RegistrationScreen"
  >
    <.error :if={@check_errors}>
      Oops, something went wrong! Please check the errors below.
    </.error>

    <.input 
      field={@form[:public_key]} 
      type="hidden"
      id="session-registration-public-key" />

    <.input
      field={@form[:session_name]}
      type="search"
      label="Session Name"
      placeholder="Write your own session name"
      value={@automatic_session_name}
      phx-debounce="1000"
      required
    />

    <.input
      field={@form[:recovery_phrase]}
      type="textarea"
      label="Recovery phrase"
      placeholder="Write your preferred citation. This will be used to recover the session, so keep it saved."
      rows="5"
      phx-debounce="1000"
      required
    />

    <:actions>
      <.button phx-disable-with="Creating account..." class="w-full">Create an account</.button>
    </:actions>
  </.simple_form>
</div>
